<!DOCTYPE html>
<html>
  <head>
    <!-- https://reactjs.org/docs/cdn-links.html -->
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
    ></script>
    <!-- https://babeljs.io/docs/en/next/babel-standalone.html -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
  <body>
    <div id="react-container"></div>
    <script
      type="text/babel"
      src="{{ url_for('static', filename='Hallo.jsx')}}"
    ></script>
    <script
      type="text/babel"
      src="{{ url_for('static', filename='index.jsx')}}"
    ></script>
  </body>
</html>
